@{
    ViewBag.Title = "Адов Дмитрий Юрьевич, гр. 15202";
}

<h2>@ViewBag.Title.</h2>
<p><img src="https://sun1-3.userapi.com/c840727/v840727583/2e7e0/pGBWbV7rD5k.jpg" alt="Фото" /></p>
<h3>@ViewBag.Message</h3>



<address>

    <strong>Phone:</strong><a> 8-913-702-7787</a><br />

    <strong>Mail:</strong>   <a href="mailto:dmitriyadov@gmail.com">dmitriyadov@gmail.com</a><br />
    <strong>Vk:</strong> <a href="https://vk.com/adov666">vk.com/adov666</a>
</address>
