@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Информационная система торговой организации</h1>
    <p class="lead">Разработана в рамках курса БД и спецкурса по C# и .NET</p>
    <p><a href="http://fit.nsu.ru/data_/courses/niu/kks_bd.pdf" target="_blank" class="btn btn-primary btn-lg">Курс БД      &raquo;</a></p>
                          <p><a href="https://vk.com/nsudotnet" target="_blank" class="btn btn-primary btn-lg">C# и .NET&raquo;</a></p>
</div>